---
const { text, href="", className } = Astro.props
import Image from 'astro/components/Image.astro'
import arrow from "../../assets/arrow.svg"
import Arrow from '../ui/Arrow.astro'
---

<a href={href} class={`group rounded-(--rounded-button) transition-colors ease-in-out no-underline bg-(--primary-color) hover:bg-(--secondary-color) ${className}`}>
    <div class="flex items-center text-white gap-2">
        <span>
            {text}
        </span>
        <Arrow className="transition-transform duration-300 ease-out will-change-transform group-hover:translate-x-1" />
    </div>
</a>
