---
import { useTranslation } from "../i18n/utils"
import type { languageList } from "../i18n/ui";
import Image from 'astro/components/Image.astro'
import Logo from '../assets/members_logo.svg'
import Language from "./ui/Language.astro";
const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslation(currentLang as keyof typeof languageList);
---

<footer id="footer" class="bg-(--secondary-bg-color) border-b border-(--border-color)">
    <div class="left-right-padding up-down-padding border-t border-x border-y-dotted-r-solid  border-(--border-color)">
        <div class="grid grid-cols-1 md:grid-cols-6 text-gray-500 gap-8 md:gap-0">
            <div class="md:col-span-1">
                <a href="">
                    <Image src={Logo} alt="Sea Members Logo" width=130 height=100 />
                </a>
            </div>
            <div class="md:col-span-2">
                <ul class="*:hover:underline inline-block">
                    <li><a href="/#sponsors">{translateLabels("footer.footerListItems.01.listItem01")}</a></li>
                    <li><a href="/#prices">{translateLabels("footer.footerListItems.01.listItem02")}</a></li>
                    <li><a href="tel:3222657989">{translateLabels("footer.footerListItems.01.listItem03")}</a></li>
                </ul>
            </div>
            <div class="md:col-span-2">
                <ul class="*:hover:underline inline-block">
                    <li><a href="https://seaviewmagazine.com/">Sea View Magazine</a></li>
                    <li><a href="https://sunwavemagazine.com/">Sunwave</a></li>
                    <li><a href="https://thegazzella.com/">The Gazzella</a></li>
                    <!-- <li><a href="#">Beyond</a></li> -->
                </ul>
            </div>
            <div class="md:col-span-1 flex md:justify-end-safe  md:pe-4">
                <div id="language-button-footer">
                    <Language color="black">
                        <span class="absolute inline-flex items-center justify-center h-full w-full rounded-full -top-3 -right-3 bg-black text-white text-[12px]">{translateLabels("footer.languageIcon")}</span>
                    </Language>
                </div>
                <div id="language-popper-footer" role="tooltip" class="hidden z-30">
                    <div class="popover-content w-48 p-4 bg-white border border-gray-300 rounded-[10px] shadow-lg flex flex-col">
                        <a href="/en" class="flex gap-3 py-2 px-3 rounded-[10px] hover:bg-gray-500/10"><span class="font-bold uppercase">en</span><span>English</span></a>
                        <a href="/" class="flex gap-3 py-2 px-3 rounded-[10px] hover:bg-gray-500/10"><span class="font-bold uppercase">es</span><span>Español</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="left-right-padding py-6 border-t border-x border-y-dotted-r-solid border-(--border-color)">
        <div class="flex justify-between text-gray-500">
            <div>
                <p class="text-[14px] sm:text-[16px]">{translateLabels("footer.madeBy")}</p>
            </div>
            <div>
                <p class="text-[14px] sm:text-[16px]">&copy; {new Date().getFullYear()} Sea View Magazine</p>
            </div>
        </div>
    </div>
</footer>

<script>
    import { createPopper } from "@popperjs/core";

    const button = document.getElementById("language-button-footer");
    const popper = document.getElementById("language-popper-footer");

    let popperInstance: any = null;
    let hideTimeout: ReturnType<typeof setTimeout> | null = null;

    function show() {
        if (hideTimeout) {
            clearTimeout(hideTimeout);
            hideTimeout = null;
        }
        popper?.classList.remove("hidden");
        popperInstance = createPopper(button, popper, {
            placement: "top",
            modifiers: [
                {
                    name: "offset",
                    options: {
                        offset: [0, 8],
                    },
                },
            ],
        });
    }

    function hide() {
        hideTimeout = setTimeout(() => {
            popper?.classList.add("hidden");

            if (popperInstance) {
                popperInstance.destroy();
                popperInstance = null;
            }
        }, 100);
    }

    button?.addEventListener('mouseenter', show);
    button?.addEventListener('mouseleave', hide);
    popper?.addEventListener('mouseenter', show);
    popper?.addEventListener('mouseleave', hide);
</script>
