---
import Image from 'astro/components/Image.astro'
import Logo from '../assets/members_logo.svg'
import ListItem from './shared/ListItem.astro'
import ButtonArrow from './shared/ButtonArrow.astro'
---
<!-- rounded-2xl h-full w-full bg-white/0 shadow-lg ring-1 ring-black/5 bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-10 -->
<!-- left-right-padding and up-down-padding components are not in this file due to header border -->
<header class="px-8 sm:px-32 3xl:px-32 border-b border-(--border-color)">
    <nav class="flex items-center justify-between px-0 sm:px-5 py-3.5">
        <a href="">
            <Image src={Logo} alt="Sea View Magazine Logo" width=130 height=100 />
        </a>

        <ul class="hidden md:flex *:hover:bg-gray-400/10 *:py-2.5 *:px-3.5 *:rounded-(--rounded-button) *:hover:text-(--secondary-color) *:transition *:duration-100 *:ease-in">
            <ListItem text="Beneficios" href=""/>
            <ListItem text="Suscripción" href=""/>
            <ListItem text="Contacto" href=""/>
        </ul>

        <ButtonArrow text="Suscribirme" href="/#prices" className="font-bold py-2.5 pb-3 px-5" />
    </nav>
</header>
