---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import { useTranslation } from "../i18n/utils"
import Image from 'astro/components/Image.astro'
import type { languageList } from "../i18n/ui";
const currentLang = Astro.currentLocale || 'en';
const translateLabels = useTranslation(currentLang as keyof typeof languageList);
---


<section id="promotions" class="bg-(--secondary-bg-color) border-y border-(--border-color)">
    <div class="left-right-padding up-down-padding border-x border-(--border-color)">
        <div class="grid grid-cols-2 gap-5">
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</section>
