---
import Image from 'astro/components/Image.astro'
import Logo from '../assets/members_icon.svg'
import Button from './shared/Button.astro'
import ButtonArrow from './shared/ButtonArrow.astro'
import RecapCard from './shared/RecapCard.astro'
---

<section id="footer" class="bg-(--secondary-bg-color) border-t border-(--border-color)">
    <div class="left-right-padding up-down-padding border-0 md:border-x md:border-(--border-color)">
        <div class="grid grid-cols-1 xl:grid-cols-4 items-start py-14 gap-8">
            <div class="grid md:col-span-2 gap-2 sm:gap-8">
                <div class="prose">
                <h2 class="font-normal">¿Todo listo para <span class="text-(--secondary-color)">empezar</span>?</h2>
                    <p></p>
                </div>
                <div class="flex flex-col sm:flex-row gap-5 items-stretch sm:items-center font-semibold">
                    <ButtonArrow href="/#prices" text="Suscríbete" className="px-6 py-2.5 w-full sm:w-auto" />
                    <Button href="/#prices" text="Conoce los beneficios" className="px-2 md:px-2 2xl:px-16 py-2.5 w-full sm:w-auto" >
                        <Image src={Logo} alt="Members Logo" width="30" height="30" draggable="false" />
                    </Button>
                </div>
            </div>
            <RecapCard title="Ve lo que pagarás" text="Transparencia ante todo" href="/#prices" textLink="Información sobre precios" />
            <RecapCard title="Conoce nuestro producto" text="Ven a conocer el corazón de Sea View Magazine" href="https://seaviewmagazine.com/" textLink="Conocenos" />
        </div>
    </div>
</section>
