---
import "../styles/global.css";
import Background from "../components/ui/Background.astro";
const currentLang = Astro.currentLocale || "es";
---


<!doctype html>
<html lang="en" class="w-full h-full m-0 scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Descuentos, Promociones, Cupones, Wellness, Restaurantes" />
		<meta name="description" content="Accede a contenido exclusivo, beneficios en restaurantes y negocios. Únete a la comunidad de Puerto Vallarta y Bahía de Banderas." />
		<meta name="author" content="Sea View Magazine" />
		<meta name="og:title" content="Members | Sea View Magazine" />
		<meta name="og:description" content="Accede a contenido exclusivo, beneficios en restaurantes y negocios. Únete a la comunidad de Puerto Vallarta y Bahía de Banderas." />
		<title>Members | Sea View Magazine</title>
	</head>
	<body class="w-full h-full m-0 p-0 selection:bg-(--primary-color) selection:text-white font-main">
		<slot />
	</body>
</html>
