---
const { className } = Astro.props
---

<div class={className}>
    <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.35355 4.03554C9.54882 3.84028 9.54882 3.52369 9.35355 3.32843L6.17157 0.14645C5.97631 -0.0488122 5.65973 -0.0488122 5.46447 0.14645C5.2692 0.341712 5.2692 0.658295 5.46447 0.853557L8.29289 3.68198L5.46447 6.51041C5.2692 6.70567 5.2692 7.02226 5.46447 7.21752C5.65973 7.41278 5.97631 7.41278 6.17157 7.21752L9.35355 4.03554ZM0 3.68198V4.18198H9V3.68198V3.18198H0V3.68198Z" fill=currentColor />
    </svg>
</div>
